<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">

<head>
  <!-- Meta Information -->
  <title>DUO TASKER</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- External CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">

  <!-- External Google Fonts Cabin-->
  <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
  <!-- Bootstrap form datePicker-->
  <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css"
    rel="stylesheet" />

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/task.css" type="text/css" />
  <link rel="stylesheet" href="/styles/modal.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/cards.css" type="text/css" />

  <!-- External JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>



</head>

<body class="all-background">
  <nav class="navbar fixed-top navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">
        <i class="fas fa-tasks"></i>
        <span> DUO TASKER</span>
    </a>

        <!-- Toggle button when screen is small -->

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">


    </div>
  </nav>

  <main>
    <div class="container">
      <div class="row">
    <div class="col-md-3">
      <div class="card">
        <button id="watch" class="button-36">WATCHING</button>
        <img class="card-img" src="https://image.freepik.com/free-photo/old-retro-tv-it-s-still-life-with-flower-vases_1150-19437.jpg" alt="Card image cap">
      </div>
      <div class="card">
        <button class="button-36" role="button">BUYING</button>
        <img class="card-img" src="https://image.freepik.com/free-psd/online-delivery-with-smartphone-mockup-template-with-delivery-package_1150-38852.jpg" alt="Card image cap">
      </div>
      <div class="card">
        <button class="button-36" role="button">My List</button>
        <img class="card-img" src="https://image.freepik.com/free-photo/top-view-notebook-ice-cream-dark-background_140725-134260.jpg" alt="Card image cap">
      </div>
    </div>
  </div>
</div>
  </main>

  <!-- Font Awesome-->
  <script src="https://kit.fontawesome.com/afa696a2f8.js" crossorigin="anonymous"></script>

  <!-- jQuery -->
  <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>

  <!-- Bootstrap -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  <!-- moment.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

</body>
</html>



