// See: https://sass-lang.com/

body {
  width: 100%;
  height: 100%;
  background: rgb(255,248,229);
background: radial-gradient(circle, rgba(255,248,229,0.3575805322128851) 45%, rgba(255,179,68,0.365983893557423) 91%);

}















