.navbar-brand>i {
    height: 50px;
    
  }
  
  .navbar-brand span {
    display: none;
    margin-left: 8px;
  }
  
  .nav-item i {
    margin-right: 16px;
  }
  
  .navbar {
    color: white;
    background-color: #E05D5D;
    background-image: url("https://www.transparenttextures.com/patterns/simple-dashed.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */ align-items: center;
    height: 83px;
    box-shadow: 0px 9px 24px -13px rgba(46, 46, 46, 1);
  }



  .navbar-nav.mr-auto {
    margin-top: 50%;
  }
  
  .nav-link {
    font-size: 1.2em;
  }
  
  .nav-link.small-font {
    font-size: 16px;
  }
  
  .navbar>p {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
  }


  .navbar-collapse a:hover {
    color: #F2BE22 !important;
  }
  
  
  .navbar-collapse {
    background-color: #ffb344;
    background-image: url("https://www.transparenttextures.com/patterns/skulls.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */    position: absolute;
    top: 54px;
    left: 0;
    padding: 16px;
    width: 100%;
  }