.navbar-brand>i {
    height: 50px;
    
  }
  
  .navbar-brand span {
    display: none;
    margin-left: 8px;
  }
  
  .nav-item i {
    margin-right: 16px;
  }
  
  .navbar {
    color: white;
    background-color: #E05D5D;
    background-image: url("https://www.transparenttextures.com/patterns/simple-dashed.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */ align-items: center;
    height: 83px;
    box-shadow: 0px 9px 24px -13px rgba(46, 46, 46, 1);
  }