

.task-list {
  display: flex;
  flex-direction: column;
  color: #484848;
  margin-bottom: 250px;





  .task-name {
    font-size: 1.2em;
  }

  .task {
    height: 10%;
    color: #fff;
    transition-timing-function: cubic-bezier(.48, 0, .07, 1);

  
  }
}